{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh; color: rgb(132, 119, 106);">
    <div class="col-md-6">
        <h1 class="text-center mb-4">Edit Item</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == "description" %}
                    <textarea name="{{ field.name }}" id="{{ field.auto_id }}" class="form-control" rows="10">{{ field.value|default:'' }}</textarea>
                {% elif field.name == "category" %}
                <select name="{{ field.name }}" id="{{ field.auto_id }}" class="form-control">
                    {% for value, display_name in field.field.choices %}
                        <option value="{{ value }}" {% if field.value == value %}selected{% endif %} style="color: rgb(132, 119, 106);">{{ display_name }}</option>
                    {% endfor %}
                </select>
                {% elif field.field.widget.input_type == "file" %}
                <label for="{{ field.auto_id }}" class="btn btn-custom">Choose File</label>
                <input type="file" name="{{ field.name }}" id="{{ field.auto_id }}" class="d-none"> 
                <span id="{{ field.auto_id }}-filename" class="ml-2">No file chosen</span>                
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.auto_id }}" class="form-control" value="{{ field.value|default:'' }}">
                {% endif %}
            </div>
            {% endfor %}
            <div class="form-group text-center mt-3">
                <input type="submit" value="Edit Item" class="btn btn-custom"/>
            </div>
        </form>
        <div class="d-flex justify-content-center align-items-center" style="height: 10vh; padding: 50px;">
            <a class="btn btn-custom" type="button" href="{% url 'main:show_main' %}">
                Back
            </a>
        </div>
    </div>
</div>
<script>
    document.getElementById('{{ field.auto_id }}').addEventListener('change', function() {
        var filePath = this.value;
        var fileNameDisplay = document.getElementById('{{ field.auto_id }}-filename');

        if (filePath) {
            var fileName = filePath.replace(/^.*[\\\/]/, "");  // Extract just the filename from the path
            fileNameDisplay.textContent = fileName;
        } else {
            fileNameDisplay.textContent = "No file chosen";
        }
    });
</script>
{% endblock %}
